.App {
  text-align: center;
}

body{
  text-align: center;
  background: url('./assets/redpyramid.jpg');
  background-position: center;
  height: 1500px;
  width: 100px;
  overflow: overlay;
}

.Text > h6 {
  text-align: center;
  justify-content: left;
  color: blanchedalmond;
}

 .Text > h4 {
  text-align: center;
  justify-content: left;
  color: blanchedalmond;
}

::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb{
  background: rgb(133, 115, 115);
}

::-webkit-scrollbar-track{
  background: rgba(0,0,0,0.2);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
